/* colors saved to vars */
:root {
    --cloud: #a7bdd8;
    --storm: #324252;
    --sunny: #c1946a;
}

/* font, text-color,and background-color set */
body {
    font-family: 'Raleway', sans-serif;
    color: var(--cloud);
    background-color: var(--storm);
}

header {
    background-color: var(--cloud);
    color: var(--storm);
}

/* border color changed */
#search-input {
    background-color: var(--cloud);
    border-color: var(--storm);
    color: var(--storm);
}

/* Hide forecast results */ 
#weather-content {
    visibility: hidden;
}

/* border type and color set */
.custom-city {
    background-color: var(--sunny);
    color: var(--storm);
    border: solid var(--cloud);
}

.card {
    background-color: var(--sunny);
    color: var(--storm);
    border: solid var(--cloud);
}

.sidebar {
    background-color: var(--sunny);
    color: var(--storm);
}

.btn {
    background-color: var(--storm);
    color:var(--cloud);
}

